.announcement
  .header
    %h3
      Announcements
      %i.icon-eye-open
  .content
    %script{:type => "text/x-handlebars", :'data-template-name' => 'announcement'}
      {{#each controller}}
      {{content}}
      {{/each}}
    =# markdown @announcement.content
    .link
      = link_to 'Edit Announcement', edit_announcement_path(@announcement)