.attendeeLabels
  .attendeeName
    What's your name?
  .attendeeProject
    What are you working on?
  .attendeeUseHelp
    What could you use help with?
  .attendeeCouldHelp
    What could you help others with?