.announcements
  %h3 Announcements
  = render :partial => 'announcements/announcement', object: @announcement
  = link_to 'Edit Announcement', edit_announcement_path(@announcement)
  %hr

.attendees
  %h3 Attendees
  .attendeeForm
    = render :partial => 'attendees/new_attendee_form'
  .attendeeList
    = render :partial => 'attendees/attendee', collection: @attendees