= render :partial => 'announcements/announcement', object: @announcement

%hr
.attendees
  %h3 Attendees
  - if user_signed_in? && current_user.attendee
    = render :partial => 'attendees/attendee_labels'
  - else
    = render :partial => 'attendees/new_attendee_form'
  .attendeeList
    = render :partial => 'attendees/attendee', collection: @attendees