// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.announcement {
  text-align: left;
  display: inline-block;
  .header h3 {
    cursor: pointer;
  }
  .content {
    margin: 10px;
    width: 950px;
  }
}


.announcementForm {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  textarea {
    width: 700px;
    resize: none;
  }
  .announcementContentField {
    float: right;
  }
  .submitButton {
    float: right;
  }
}

