// Place all the styles related to the attendee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attendee {
  &:nth-child(even) {
    background-color: #ffffff;
  }
  &:nth-child(odd) {
    background-color: #f0f0f0;
  }

  .attendeeDepart {
    display: inline-block;
    width: 100px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
  }

  .close {
    font-size: 14px;
    line-height: 14px;
    float: none;
  }
}

.attendeeForm {
  vertical-align: top;

  .attendeeFormField {
    display: inline-block;
    height: 65px;
    margin: 10px;
    vertical-align: top;
    position: relative;
  }

  .attendeeFormCheckbox {
    display: inline-block;
    height: 65px;
    margin: 10px;
    vertical-align: top;
    position: relative;
    text-align: center;
    width: 130px;
  }

  .attendeeFormButton {
    position: absolute;
    bottom: 11px;
    width: 100px;
  }
}

.attendeeName, .attendeeProject, .attendeeUseHelp, .attendeeCouldHelp {
  display: inline-block;
  width: 220px;
  margin: 10px;
  text-align: left;
  vertical-align: top;
}